.border-dashed{
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: dashed;
  border-bottom-width: 2pt;
}

.style-btn-1{
  color: rgb(63, 156, 105);
  background-color: aliceblue
}
.style-btn-2{
  color: red;
  background-color: aliceblue
}
.style-btn-3{
  background-color: rgb(223, 237, 250)
}
.style-btn-4{
  color: rgb(27, 79, 139);
  background-color: rgb(223, 237, 250)
}
.style-btn-5{

}
