.modal-body, .modal-header {
    color: black;
}
.cursor-poiter{
  cursor: pointer;
}
.width-btn{
  width: 10em;
}
.width-20{
  width: 20em;
}
.bg-pl{
  background-color: rgb(235, 242, 247);
  border-radius: 0.5em;
  text-align: center;
}
