
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.text-fly{
  position: absolute;
  top: 0em;
  left: 3em;
  background: white;
  color: #2d6a4f;
  font-weight: bold;
}
.bg-form{
  background-color:#e9ecef ;
}
.w{
  width:80%;
  height: 3em;
}
.w1{
  width:90%;
  height: 3em;
}
.w2{
  width:93.5%;
  height: 8em;
}
.btn1{
  height: 3em;
  width: 13em;
}
.border-dotted{
  border-style: dotted;
  width: 2.5em;
  height:2.5em;
  color: #2d6a4f;
}
