
<!-- #region header -->
<div class="modal-header">
  <h3 class="ps-3">Phiếu báo cáo sự cố chi tiết</h3>
  <h5 class="fw-bold text-primary px-2 pt-1">(ID:0001)</h5>
  <h5 class="fw-bold text-danger pt-1">(Bắt buộc)</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')"></button>
</div>
<!-- #endregion -->
<!-- #region body dialog -->
  <div class="modal-body"  >
<!-- #region  Thông tin người báo cáo -->
<div class="dropdown mt-2">
  <a class="dropdown-link collapsed text-dark text-decoration-none" data-bs-toggle="collapse" href="#thongTinSuCo">
    <p class="fw-bold mb-3 cursor-poiter col-12">
      <label class="ms-3">Thông tin sự cố</label>
      <i class="fas fa-chevron-down ps-1"></i>
    </p>
  </a>
<div class="rounded-3 collapse border rounded border-muted mx-3 pt-3 row mx-4" id="thongTinSuCo">
  <div class="col-6 " >
    <div class=" mb-3 ps-4 ">
        <label class=" fw-bold ">Họ và tên người bệnh</label>
        <br>
        <label >Nguyễn Tâm Minh</label>
    </div>
    <div class="mb-3 ps-4">
        <label class=" fw-bold  ">Ngày sinh</label><br>
        <label>02/02/1995</label>
    </div>
    <div class="mb-3 ps-4">
      <label class=" fw-bold  ">Khoa/Phòng</label><br>
      <label>abc@gmail.com</label>
  </div>
  </div>

  <div class="col-6 " >
    <div class=" mb-3 ps-4 ">
        <label class=" fw-bold ">Sổ bệnh án</label><br>
        <label >0377 728 221</label>
    </div>
    <div class="mb-3 ps-4">
      <label class=" fw-bold  ">Giới tính</label><br>
      <label>nam</label>
  </div>
  </div>
</div>
</div>
<!-- #endregion -->
    <!-- #region  nội dung sự cố -->
    <div class="dropdown mt-2">
      <a class="dropdown-link collapsed text-dark text-decoration-none" data-bs-toggle="collapse" href="#noiDungSuCo">
        <p class="fw-bold mb-3 cursor-poiter col-12">
          <label class="ms-3">Nội dung sự cố</label>
          <i class="fas fa-chevron-down ps-1"></i>
        </p>
      </a>
      <div class="rounded-3 border collapse border-muted  pt-3 row mx-4" id="noiDungSuCo">
      <div class="col-6">
        <div class="col-6 mb-3 ps-4">
          <div class="row">
            <label class=" fw-bold ">Khoa/Phòng sảy ra sự cố</label>
            <label >Tên khoa phòng</label>
          </div>
        </div>
        <div class="col-6 mb-3 ps-4">
          <div class="row">
            <label class=" fw-bold ">Ngày sảy ra sự cố</label>
            <label >02/02/2021</label>
          </div>
        </div>
        <div class="col-6 mb-3 ps-4">
          <div class="row">
            <label class=" fw-bold ">Mô tả ngắn gọn về sự cố</label>
            <label >Tên khoa phòng</label>
          </div>
        </div>
        <div class="col-6 mb-3 ps-4">
          <div class="row">
            <label class=" fw-bold ">Điều trị/xử lý ban đầu đã được thực hiên</label>
            <label >Tên khoa phòng</label>
          </div>
        </div>
        <div class=" mb-3 ps-4">
          <div class="row">
            <label class=" fw-bold ">Đề xuất biện pháp tránh lặp lại sự cố</label>
            <label >Tên khoa phòng</label>
          </div>
        </div>
      </div>
    <div class="col-6">
      <div class="col-6 mb-3 ps-4">
        <div class="row">
          <label class=" fw-bold ">Vị trí cụ thể</label>
          <label >Tên khoa phòng</label>
        </div>
      </div>
      <div class=" mb-3 ps-4">
        <div class="row">
          <label class=" fw-bold ">Thòi gian</label>
          <label >Tên khoa phòng</label>
        </div>
      </div>
    </div>
    </div>
</div>
  <!-- #endregion -->
  <!-- #region  Thông báo sự cố -->
  <div class="dropdown mt-2">
    <a class="dropdown-link collapsed text-dark text-decoration-none" data-bs-toggle="collapse" href="#ThongBaoSuCo">
      <p class="fw-bold mb-3 cursor-poiter col-12">
        <label class="ms-3">Thông báo sự cố</label>
        <i class="fas fa-chevron-down ps-1"></i>
      </p>
    </a>
    <div class=" collapse rounded-3 border border-muted mx-3 pt-3 row mx-4" id="ThongBaoSuCo">
      <div class="col-6 " >
        <div class="col-6 mb-3 ps-4 width-20">
          <div class="row">
            <label class=" fw-bold text-muted col-6">Cho BS điều trị/người có trách nhiệm</label>
            <button class="col-6 btn border-dark fw-bold width-btn py-1 my-3">Có</button>
          </div>
        </div>
        <div class="col-6 mb-3 ps-4 width-20">
          <div class="row">
            <label class=" fw-bold text-muted col-6">Cho người nhà/người bảo hộ</label>
            <button class="col-6 btn border-dark fw-bold  width-btn py-1 my-3">Không</button>
          </div>
        </div>
      </div>

      <div class="col-6 " >
        <div class="col-6 mb-3 ps-4 width-20">
          <div class="row">
            <label class=" fw-bold text-muted col-6 ">Ghi nhận vào hồ sơ bệnh án/giấy tờ liên quan</label>
            <button class="col-6 btn border-dark fw-bold width-btn py-1 my-2">
                Không ghi nhận
            </button>
          </div>
        </div>
        <div class="col-6 mb-3 ps-4 width-20">
          <div class="row">
            <label class=" fw-bold text-muted col-6 mt-3">Cho người bệnh</label>
            <button class="col-6 btn border-dark fw-bold  width-btn py-1 my-3">Không</button>
          </div>
        </div>
      </div>
    </div>

  <!-- #endregion -->
  <!-- #region phân loại ban đầu -->
  <div class="row ps-3 col-6 py-2 ">
    <label class="fw-bold col-5  py-2">Phân loại ban đầu</label>
    <label class="fw-bold text-primary mx-1 col-4 bg-pl py-2">Chưa xảy ra</label>
    <label class="fw-bold text-dark col-2 bg-pl py-2">Nhẹ</label>
  </div>
  <!-- #endregion -->
  <!-- #region  Thông tin người báo cáo -->
  <div class="dropdown mt-2">
    <a class="dropdown-link collapsed text-dark " data-bs-toggle="collapse" href="#ThongTinNguoiBaoCao">
      <p class="fw-bold mb-3 cursor-poiter col-12">
        <label class="ms-3">Thông tin người báo cáo</label>
        <i class="fas fa-chevron-down ps-1"></i>
      </p>
    </a>
  <div class="rounded-3 border border-muted ms-4 mb-2 row collapse" id="ThongTinNguoiBaoCao">
      <div class="col-6 mt-2" >
        <div class=" mb-3 ps-4 ">
            <label class=" fw-bold ">Họ và tên</label>
            <br>
            <label >Nguyễn Tâm Minh</label>
        </div>
        <div class="mb-3 ps-4">
            <label class=" fw-bold  ">Email</label><br>
            <label>abc@gmail.com</label>
        </div>
      </div>

      <div class="col-6 mt-2" >
        <div class="mb-3 ps-4 ">
            <label class=" fw-bold ">Số điện thoại</label><br>
            <label >0377 728 221</label>
        </div>

      </div>
    </div>
<div>
  <!-- #endregion -->
    <!-- #region footer -->
    <div class="modal-footer" >
      <button class="btn btn-secondary" (click)="actionTaken({neutral: 1})">Đóng</button>
    </div>
    <!-- #endregion -->
<!-- #endregion -->
