<div class="fs-4 fw-bold  text-uppercase mb-3" data-bs-toggle="collapse" href="#mucdotonthongDetailInfoCollapse">
  đánh giá
  <i class="ms-2 fas fa-chevron-down"></i>
</div>
<div class=" mb-3 border border-top-0 px-3 rounded pb-2 ">
  <!--region mức độ tổn thương-->
  <div class="row collapse show " id="mucdotonthongDetailInfoCollapse">
    <div class="col-12 col-lg-6 col-xl-5 mb-3 ">
      <h3 class="fs-4 fw-bold text-uppercase">MỨC ĐỘ TỔN THƯƠNG</h3>
      <div class="row">
        <span class="col-lg-1"> <img src="./assets/images/avatar.png" alt=""></span>
        <div class="col-5 d-flex text-muted fst-italic">
          <label for="" class="my-auto">Đánh giá bởi <span class="fw-bold">DuyHQ</span> ngày 25/05/2021 </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-7">
      <div class="row">
        <div class="col-5 col-lg-2 d-flex fw-bold ms-3">
          <label for="" class="my-auto">Trên người bệnh</label>
        </div>
        <div class="col-4 col-lg-4 ">
          <span class="border text-center rounded px-2 py-1 mx-1 border-primary">
            Chưa xảy ra (NC0)
          </span>
          <span class="border text-center rounded px-2 py-1 mx-1 border-primary">
            A
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-5 col-lg-2 d-flex fw-bold ms-3">
          <label for="" class="my-auto">Trên tổ chức </label>
        </div>
        <div class="col-7 col-lg-6 ">
          <span class="border text-center rounded px-3 py-1 mx-1 ">
           Tổn hại tài sản
          </span>
          <span class="border text-center rounded px-2 py-1 mx-1">
            Quan tâm của truyền thông
          </span>
          <span class="border text-center rounded px-2 py-1 mx-1 ">
            Khác
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--endregion-->
  <!--region Nhóm sự cố-->
  <h3 class="fs-4 fw-bold text-uppercase" data-bs-toggle="collapse" href="#nhomsucoCollapse">Nhóm sự cố
    <i class="ms-2 fas fa-chevron-down"></i>
  </h3>
  <div class="collapse show" id="nhomsucoCollapse">

    <div class="card fpt-info-detail ">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 mb-3  pt-2 ps-5 fpt-info-detail-left">
          <label class="fw-bold mt-2">Nhóm sự cố 1</label>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 mb-3 pt-2 ps-4">
        <input class="border-0 form-control" type="text" value="Nội dung 1; Nội dung 2; Nội dung 3; ...; Nội dung n">
    </div>
      </div>
    </div>
    <br>
    <div class="card fpt-info-detail ">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 mb-3 pt-2 ps-5 fpt-info-detail-left">
          <label class="fw-bold mt-2">Nhóm sự cố 2</label>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 mb-3 pt-2 ps-4 ">
        <input class="border-0 form-control" type="text" value="Nội dung 1; Nội dung 2; Nội dung 3; ...; Nội dung n">
      </div>
      </div>
    </div>
  </div>
  <!--endreigon-->
  <br>
  <!--region Nhóm nguyên nhân-->
  <h3 class="fs-4 fw-bold text-uppercase" data-bs-toggle="collapse" href="#nhomnguyennhanCollapse">Nhóm nguyên nhân
    <i class="ms-2 fas fa-chevron-down"></i>
  </h3>
  <div class="collapse show" id="nhomnguyennhanCollapse">
    <div class="card fpt-info-detail">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 mb-3  pt-2 ps-5 fpt-info-detail-left">
          <label class="fw-bold mt-2">Nhóm nguyên nhân 1</label>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 mb-3 pt-2 ps-4 fpt-info-detail-left">
        <input class="border-0 form-control" type="text" value="Nội dung 1; Nội dung 2; Nội dung 3; ...; Nội dung n">
    </div>
      </div>
    </div>
    <br>
    <div class="card fpt-info-detail">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 mb-3 pt-2 ps-5 fpt-info-detail-left">
          <label class="fw-bold mt-2">Nhóm nguyên nhân 2</label>
      </div>
      <div class="col-12 col-lg-6 col-xl-7 mb-3 pt-2 ps-4">
        <input class="border-0 form-control" type="text" value="Nội dung 1; Nội dung 2; Nội dung 3; ...; Nội dung n">
    </div>
      </div>
    </div>
  </div>
  <!--endreigon-->
  <!--region hành động khắc phục sự cố-->
  <div class=" mt-2 form-group py-3 position-relative">
    <label class="text-fly rounded"> Xữ trí ban đầu: </label>
    <input class="form-control w2 py-3" value="Mô tả hành động xử lý sự cố (Load trường thông tin Điều trị/ xử lý ban đầu đã được thực hiện)" type="text">
  </div>
  <!--endregion hành động khắc phục sự cố-->
  <!--region hành động khắc phục sự cố-->
  <div class=" mt-2 form-group py-3 position-relative">
    <label class="text-fly rounded"> Khuyến cáo phòng ngừa sự cố: </label>
    <input class="form-control w2 py-3" value="Ghi đề xuất khuyến cáo phòng ngừa (Load trường thông tin Đề xuất giải pháp ban đầu từ phiếu)" type="text">
  </div>
  <!--endregion hành động khắc phục sự cố-->
</div>
<div class="card fpt-info-detail">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-5 fpt-info-detail-left mb-3 mb-md-0">
      <div class="card-body fw-bold">
        <h4>
          Tiến độ
        </h4>
        <ul class="list-group fpt-list-process" id="listProcess">
          <li class="list-group-item clearfix success">
            <div class="float-start">
              <i class="fas fa-lg fa-check-circle" id="step1"></i>
              <span class="ms-2">
                {{'04/26/2021' | date: 'dd-MM-yyyy'}}
              </span>
            </div>
            <div class="float-end fpt-process-content">
              Tạo báo cáo sự cố
            </div>
          </li>
          <li class="list-group-item clearfix">
            <div class="float-start">
              <i class="fas fa-lg fa-check-circle" id="step2"></i>
              <span class="ms-2">
              </span>
            </div>
            <div class="float-end fpt-process-content">
              Xác minh, ghi nhận sự cố, phân loại sự cố y khoa
            </div>
          </li>
          <li class="list-group-item clearfix">
            <div class="float-start">
              <i class="fas fa-lg fa-check-circle" id="step3"></i>
              <span class="ms-2">
              </span>
            </div>
            <div class="float-end fpt-process-content">
              Ban hành khuyến cáo phòng ngừa SCYK
            </div>
          </li>
          <li class="list-group-item clearfix">
            <div class="float-start">
              <i class="fas fa-lg fa-check-circle" id="step4"></i>
              <span class="ms-2">
              </span>
            </div>
            <div class="float-end fpt-process-content">
              Triển khai biện pháp khắc phục phòng ngừa SCYK
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-7 fpt-info-detail-right py-3">
      <div class="mb-3 px-3 row">
        <div class="col-5 d-flex">
          <label for="" class="my-auto">Nguyên nhân</label>
        </div>
        <div class="col-7">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="mb-3 px-3 row">
        <div class="col-5 d-flex">
          <label for="" class="my-auto">Nơi xảy ra sự cố</label>
        </div>
        <div class="col-7">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="mb-3 px-3 row">
        <div class="col-5 d-flex">
          <label for="" class="my-auto">Thời gian xảy ra</label>
        </div>
        <div class="col-7">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="mb-3 px-3 row">
        <div class="col-5 d-flex">
          <label for="" class="my-auto">Thông tin sự cố</label>
        </div>
        <div class="col-7">
          <textarea rows="2" type="text" class="form-control"></textarea>
        </div>
      </div>
      <div class="mb-3 px-3 row">
        <div class="col-5 d-flex">
          <label for="" class="my-auto">Phân loại sự cố</label>
        </div>
        <div class="col-7">
          <div class="fpt-row-list">
            <label for="" class="badge bg-light text-primary">
              Chưa xảy ra
            </label>
            <label for="" class="badge bg-light text-dark">
              Nhẹ
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
