<nav class="fw-bold text-primary px-3 py-2 navbar-main d-flex">
    <div class="navbar-content my-auto ms-auto">
        <span class="">
            <i class="far fa-calendar-check"></i>
        </span>
        <span class="ms-3">
            <i class="far fa-bell"></i>
        </span>
        <span class="ms-3">
            <img class="img-avatar my-auto me-2" src="./assets/images/avatar.png" alt="">
            <span>
                Nguyễn Đình Chiện
            </span>
        </span>
    </div>
</nav>
